<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{taller.nombre_taller}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Fecha: {{taller.instructor}}</p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" type="submit" color="primary" (click)="tomarTaller()" *ngIf="puedeTomarTaller">
      Inscribirse en el taller
    </ion-button>
    <ion-button expand="block" type="submit" color="danger" (click)="salirTaller()">
      Salir de taller
    </ion-button>
</ion-content>